AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=ap-south-1
S3_BUCKET_NAME=weather-lakehouse-yourname
S3_TABLES_BUCKET=weather-lakehouse-tables-yourname
S3_TABLES_NAMESPACE=weather_lakehouse
GLUE_DATABASE=weather_lakehouse
ATHENA_RESULTS=s3://weather-lakehouse-yourname/athena-results/